.advantages {
  padding-top: 120px;

  background-color: $color-default-white;

  @include vp-1023 {
    padding-top: 80px;
  }

  @include vp-767 {
    padding-top: 50px;
  }
}

.advantages__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @include vp-1919 {
    padding-left: 100px;
    padding-right: 100px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.advantages__item {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 70px;

  min-height: 300px;
  min-width: 595px;

  border: 1px solid $color-whisper;
  border-left: 5px solid $color-deep-sky-blue;

  @include vp-1919 {
    min-height: 160px;
    padding-bottom: 27px;
    min-width: 320px;
  }

  @include vp-1023 {
    min-height: 360px;
    padding-bottom: 27px;
    min-width: 320px;
  }

  @include vp-767 {
    min-width: 270px;
    min-height: 340px;

    padding-top: 30px;
    padding-right: 30px;
    padding-left: 25px;
    padding-bottom: 35px;
  }
}

.advantages__item:nth-child(3n),
.advantages__item:nth-child(4n) {
  @include vp-767 {
    min-height: 325px;
  }
}

.advantages__item:nth-child(4n) .advantages__header {
  @include vp-767 {
    margin-top: 5px;
  }
}

.advantages__item:hover {
  background-color: $color-deep-sky-blue;
}

.advantages__item:hover .advantages__logo {
  stroke: $color-alice-blue;
}

.advantages__item:hover .advantages__header {
  color: $color-alice-blue;
}

.advantages__item:hover .advantages__description {
  color: $color-alice-blue;
}

.advantages__logo {
  stroke: $color-deep-sky-blue;

  @include vp-767 {
    width: 30px;
    height: 30px;
  }

}

.advantages__header {
  margin: 0;
  padding: 0;

  margin-top: 5px;
  margin-bottom: 5px;

  font-family: $ff-roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;

  @include vp-1023 {
    margin: 0;
    padding: 0;
    margin-top: 8px;
    margin-bottom: 8px;

    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
  }

  @include vp-767 {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    margin-top: 5px;

    font-size: 20px;
    font-weight: 400;
    text-align: left;
  }
}

.advantages__item:last-child .advantages__header{
  @include vp-1023 {
    margin-top: 2px;
    margin-bottom: 4px;
  }
}

.advantages__description {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

  @include vp-767 {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
}


