.logo {
  &--full {
    display: block;
    margin-top: 30px;

    @include vp-1023 {
      margin-top: 20px;
      margin-bottom: 5px;
    }

    @include vp-767 {
      display: none;
    }

    @include vp-767 {
      margin-bottom: 0;
    }
  }

  &--brain {
    display: none;

    @include vp-767 {
      display: block;
      margin-bottom: 5px;
      margin-top: 15px;

    }
  }
}

