.offers {
  padding-top: 67px;
  padding-bottom: 141px;

  font-family: $ff-roboto;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;

  color: $color-default-white;
  background-color: $color-black-pearl;

  @include vp-1023 {
    padding-top: 56px;
    padding-bottom: 75px;
  }

  @include vp-767 {
    padding-top: 47px;
    padding-bottom: 85px;
  }
}

.offers__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 85px;

  @include vp-1919 {
    gap: 30px;

    padding-left: 100px;
    padding-right: 100px;
  }
}

.offers__header {
  max-width: $max-width;
  min-width: $min-width;

  padding: 0;
  margin: 0;
  margin: 0 auto;
  margin-bottom: 52px;
  padding-left: 350px;
  padding-right: 350px;

  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  text-align: left;

  @include vp-1919 {
    padding-left: 100px;
    padding-right: 100px;
  }

  @include vp-1023 {
    padding: 0 50px;
    margin-bottom: 37px;
  }

  @include vp-767 {
    display: none;

    margin-bottom: 40px;
  }
}

.offers__header--mobile {
  display: none;
  font-size: 28px;
  font-weight: 400;
  line-height: 39px;
  text-align: left;

  @include vp-767 {
    display: block;

    width: 100%;

    padding: 0 25px;
    padding-right: 50px;
    margin-bottom: 30px;
  }
}

.offers__card {
  position: relative;
  z-index: 1;

  overflow-y: scroll;

  @include vp-767 {
    width: 100%;
  }
}

.offers__card:hover::before {
  position: absolute;


  z-index: 3;
  content: "";

  width: 100%;
  height: 100%;

  background-color: $color-deep-sky-blue-70;
  transition: all .2s ease-in;

}

.offers__card::-webkit-scrollbar {
  display: none;
}

.offers__card img {

  @include vp-1919 {
    width: 250px;
  }

  @include vp-1023 {
    height: 250px;
    min-width: 670px;

    gap: 30px;

    object-fit: cover;
  }

  @include vp-767 {
    min-width: 0;
    width: 100%;
  }
}

.offers__card::after {
  position: absolute;

  content: "";

  bottom: 28px;
  right: 26px;

  width: 6px;
  height: 6px;

  z-index: 5;

  border: 1px solid $color-default-white;
  border-left: none;
  border-top: none;

  transform: rotate(-45deg);

  background-color: transparent;

  @include vp-767 {
    width: 4px;
    height: 4px;

    bottom: 19px;
    right: 18px;
  }
}

.offers__card::before {
  position: absolute;

  content: "";

  bottom: 0;
  right: 0;

  width: 60px;
  height: 60px;

  z-index: 5;
  border-top-left-radius: 3px;

  background-color: $color-deep-sky-blue;

  @include vp-767 {
    width: 40px;
    height: 41px;
  }
}

.offers__card-text {
  position: absolute;
  top: 50px;
  left: 40px;
  width: 173px;

  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;

  z-index: 15;

  @include vp-1023 {
    width: 150px;

    top: 37px;
    left: 46px;
  }

  @include vp-767 {
    top: 25px;
    left: 30px;

    width: 135px;

    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }
}
