html {
  scroll-behavior: smooth;
}

.page-body {
  display: flex;
  flex-direction: column;

  min-width: $min-width;

  font-family: $ff-PT-mono;
}

.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-overlay;
  z-index: 2;
  cursor: pointer;
}

.closed {
  display: none;
}

.closed-list {
  @include vp-767 {
    display: none;
  }
}

.nojs {
  display: block;

  @include vp-767 {
    display: block;
  }
}

.hide-on-mobile {
  @include vp-767 {
    display: none;
  }
}

.hide-on-tablet-desktop {
  display: none;
  @include vp-767 {
    display: block;
  }
}
